<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define la propiedad de la ruta -->
    <property name="LOGS_DIR" value="W:/logs/eventos-peru"/>

    <!-- Appender para guardar logs en un archivo -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Ruta del archivo de logs -->
        <file>${LOGS_DIR}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Rotación diaria de los archivos -->
            <fileNamePattern>${LOGS_DIR}/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Mantener archivos de los últimos 30 días -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para mostrar logs en la consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>