<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">

        <div class="card border-primary text-center">
            <div class="card-header">Por favor coloca tus datos para registrarte!</div>
            <div class="card-body">
                <form id="registerForm">

                    <div class="form-group col-sm-6">
                        <input type="text" name="name" id="name" class="form-control" placeholder="nombres" autofocus required />
                        <div class="error-message text-danger" id="nameError"></div>
                    </div>

                    <div class="form-group col-sm-6">
                        <input type="text" name="lastname" id="lastname" class="form-control" placeholder="apellidos" required/>
                        <div class="error-message text-danger" id="lastnameError"></div>
                    </div>

                    <div class="form-group col-sm-6">
                        <input type="text" name="email" id="email" class="form-control" placeholder="correo" required/>
                        <div class="error-message text-danger" id="emailError"></div>
                    </div>

                    <div class="form-group col-sm-6">
                        <input type="password" name="password" id="password" class="form-control" placeholder="contraseña" required />
                        <div class="error-message text-danger" id="passwordError"></div>
                    </div>

                    <div class="form-group col-sm-6">
                        <input type="text" name="address" id="address" class="form-control" placeholder="direccion" required />
                        <div class="error-message text-danger" id="addressError"></div>
                    </div>

                    <div class="form-group col-sm-6">
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="telefono" required />
                        <div class="error-message text-danger" id="phoneError"></div>
                    </div>

                    <div class="form-group col-sm-6">
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Registrate" />
                    </div>
                </form>
            </div>
        </div>

    </div>
    <footer th:replace="layout/layout :: footer"></footer>

    <script type="module" th:src="@{/js/register.js}"></script>
</body>
</html>